<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Square -->
      <package
            uri="http://square/1.0"
            class="square.SquarePackage"
            genModel="MetaM/Square.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Circle -->
      <package
            uri="http://circle/1.0"
            class="circle.CirclePackage"
            genModel="MetaM/Circle.genmodel"/>
   </extension>

</plugin>
